.mainInputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.mainInputs input:focus, select:focus {
    border: 1px solid rgb(49, 199, 162)!important;
    outline: none;
}
button:focus {
    outline: none;
}
.mainInputs__sign {
    width: 60px;
    height: 40px;
    border-radius: 15px;
    margin: 0 10px;
}
.mainInputs__description {
    width: 300px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid rgb(169, 169, 169);
    margin: 0 10px;
}
.mainInputs__value {
    width: 50px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid rgb(169, 169, 169);
    margin: 0 10px;
}

.mainInputs__addbtn {
    color: rgb(49, 199, 162);
    width: 40px;
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
}
.mainInputs__addbtn:hover {
    color: rgb(10, 144, 110);
}
.mainInputs__downloadbtn {
    color: rgb(49, 199, 162);
    width: 40px;
    height: 40px;
    margin: 0 10px;
}
.mainInputs__downloadbtn:hover {
    color: rgb(10, 144, 110);
}
::-webkit-input-placeholder {
   text-align: center;
}
